<div class="alert alert-success" role="alert">
  Displaying all the items in database
</div>

<div class="alert alert-primary" role="alert" name="list">    
<table class="table table-striped">
<thread>
<tr>
    {{!-- <th scope="col">ID</th> --}}
    <th scope="col">Title</th>
    <th scope="col">Stock</th>
    <th scope="col">Category</th>
</tr>
</thread>
 <tbody>

{{# each items}}
<tr>
    {{# each this}} 
        <td>{{this.title}}</td>
        <td>{{this.stock}}</td>
        <td>{{title.category}}</td>
        {{/each}}  
 </tr>     
{{/each}}
</tbody>
</table>
</div>