<div class="container">
<h1>Add Cheese Product</h1>

<form action="/cheese" method="POST" ref = "uploadForm" id="uploadForm" encType="multipart/form-data">
  <div class="form-group">
	<input type="text" name="title" class="form-control" placeholder="title" required>
  </div>
  <div class="form-group">	
	<input type="text" name="category" class="form-control" placeholder="category" required>
  </div>
  <div class="form-group">
	<input type="number" name="stock" class="form-control" placeholder="Stock" min="0" required>
  </div>
  <div class="form-group">
	<input type="number" name="price" class="form-control" placeholder="Price" min="1" required>
  </div>
  <div class="form-group">
	<textarea name="description" class="form-control" placeholder="description" required></textarea>
  </div>
  <div class="form-group" >
    <label for = "image">Upload a picture</label>
    <input type="file" name="image" />
  </div>
  <div class="form-group">
	<button type="Submit" class="btn-btn-info">Save</button>
  </div>
</form>

<a href = "/">Cancel </a>

</div>