<div class="text-center">
    <img src="./images/cheeseshoplogo.png" class="rounded" alt="Cheese Shop Logo">
    <h1>Welcome to The Cheese Shop! We sell high-quality cheese products.
        <br>
        <small class="text-muted">We are excited for you to shop with us.</small>
    </h1>
</div>

<div id = "cheeseoptions">
</div>