<div class="container">
    <h1>Create a new Account</h1>

    <form class="signup" action="#" id="registration" method="POST">
        <div class="form-group">
            <label for="firstname" class="form-label">First Name</label>
            <input type="text" class="form-control" name="firstname" id="firstname">
        </div>
        <div class="form-group">
            <label for="lastname" class="form-label">Last Name</label>
            <input type="text" class="form-control" name="lastname" id="lastname">
        </div>
        <div class="form-group">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" id="username">
        </div>
        <div class="form-group">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" name="email" id="email">
        </div>
        <div class="form-group">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password">
        </div>
        <div class="form-group">
            <label for="password1" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" name="password1" id="password1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>