#signin_section {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.cheese-submit {
  color: #FFAC33;
  border-color: #FFAC33;
  background-color: #fff;
}

.cheese-submit:hover {
  color: #fff;
  background-color: #FFAC33;
  border-color: #FFAC33;
}

.cheese-submit:focus {
  color: #fff;
  background-color: #FFAC33;
  border-color: #FFAC33;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {  
  color: #fff;
  background-color: #FC9500;
  border-color: #FC9500;
}