<div class="text-center">
    <h4>{{product.title}}</h4>
    <div>
        <img src="images/{{product.image}}" style="width:200px; height:200px;" class="img-thumbnail"/> 
        <p>{{product.description}}</p>
    </div>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add to Cart</button>
    <br>
    <br>
    <form id="delete" action="/products/{{product._id}}?_method=DELETE" method="POST">
        <button class="btn btn-danger" type="submit">Delete Product</button>
    </form>
    <br>
    <br>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Edit Product</button>
    <br>
    <hr>
    <br>
</div>